<mat-toolbar class="header">
  <nav class="header__navigation" aria-label="Main navigation">
    <a
      mat-button
      routerLink="/"
      routerLinkActive="header__link--active"
      [routerLinkActiveOptions]="{ exact: true }"
      ariaCurrentWhenActive="page"
      class="header__link">
      Photos
    </a>

    <a
      mat-button
      routerLink="/favorites"
      routerLinkActive="header__link--active"
      ariaCurrentWhenActive="page"
      class="header__link">
      Favorites
    </a>
  </nav>
</mat-toolbar>
